@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333333;
    margin-bottom: 1rem;
    text-align: center;
}

#inpts-area {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#addBtn {
    background-color: #0806a3;
    color: #fff;
    border: none;
    padding: 2px;
}

.error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

.success {
    color: green;
    font-size: 0.8rem;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

.personImg {
    border-radius: 100%;
    width: 100px;
}

#contacts-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    height: 450px;
}

.contacts {
    width: 55%;
    display: flex;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
}

.personBasic {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.personName {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333333;
    margin-bottom: 0.5rem;
}

.personBasicinfo {
    font-size: 1rem;
    font-weight: 400;
    color: #333333;
    margin-bottom: 0.5rem;
}

.personDetailinfo {
    font-weight: 400;
    color: #333333;
}

main {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.detailImg {
    width: 60%;
    display: flex;
    border-radius: 100%;
}

.aside-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px;
    background-color: #fff
}
.contactbuttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 10px;
}
a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    background-color: #0806a3;
}
aside{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.favorityBtn{
    background-color: #0806a3;
    color: #fff;
    border: none;
    padding: 1px;
    margin-bottom: 10px;
}
.deleteBtn{
    background-color: #0806a3;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
}

.editeBtn{
    background-color: #0806a3;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
}

#post-area{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 450px;
}